<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CSE-Faculty</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="stylesheets/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/animate.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/owl.carousel.min.css">
    <link rel="stylesheet" href="stylesheets/owl.theme.default.min.css">
    <link rel="stylesheet" href="stylesheets/magnific-popup.css">

    <link rel="stylesheet" href="stylesheets/aos.css">

    <link rel="stylesheet" href="stylesheets/ionicons.min.css">

    <link rel="stylesheet" href="stylesheets/bootstrap-datepicker.css">
    <link rel="stylesheet" href="stylesheets/jquery.timepicker.css">


    <link rel="stylesheet" href="stylesheets/flaticon.css">
    <link rel="stylesheet" href="stylesheets/icomoon.css">
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>

    <div>
      <%- include('navbar') %>
    </div>

    <div class="hero-wrap" style="background-image: url('https://www.ceeco.in/blog/wp-content/uploads/2017/11/smartclassroom.jpg'); background-attachment:fixed;">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-8 ftco-animate text-center">

            <h1 class="mb-3 bread">Well Experienced Faculties</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
    	<div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 ftco-animate">
	          <div class="block-2">
	            <div class="flipper">
	              <div class="front" style="background-image: url(https://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-11/256/man-office-worker-light-skin-tone.png);">
	                <div class="box">
	                  <h2>Dr.Subasish Mohapatra</h2>
	                  <p>HOD</p>
	                </div>
	              </div>

	            </div>
	          </div>
	        </div>
	        <div class="col-md-6 col-lg-3 ftco-animate">
	          <div class="block-2">
	            <div class="flipper">
	              <div class="front" style="background-image: url(https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/81/female-teacher-type-1-2_1f469-1f3fb-200d-1f3eb.png);">
	                <div class="box">
	                  <h2>Mrs.Pranati Mishra</h2>
	                  <p>Lecturer</p>
	                </div>
	              </div>

	            </div>
	          </div>
	        </div>
	        <div class="col-md-6 col-lg-3 ftco-animate">
	          <div class="block-2">
	            <div class="flipper">
	              <div class="front" style="background-image: url(https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/81/female-teacher-type-1-2_1f469-1f3fb-200d-1f3eb.png);">
	                <div class="box">
	                  <h2>Mrs.Jyotirmayee Routray</h2>
	                  <p>Lecturer</p>
	                </div>
	              </div>

	            </div>
	          </div>
	        </div>
	        <div class="col-md-6 col-lg-3 ftco-animate">
	          <div class="block-2">
	            <div class="flipper">
	              <div class="front" style="background-image: url(https://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-11/256/man-office-worker-light-skin-tone.png);">
	                <div class="box">
	                  <h2>Mr.Tapas Choudhury</h2>
	                  <p>Lecturer</p>
	                </div>
	              </div>

	            </div>
	          </div>
	        </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
	          <div class="block-2">
	            <div class="flipper">
	              <div class="front" style="background-image: url(https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/81/female-teacher-type-1-2_1f469-1f3fb-200d-1f3eb.png);">
	                <div class="box">
	                  <h2>Miss.Jijnasee Das</h2>
	                  <p>Lecturer</p>
	                </div>
	              </div>

	            </div>
	          </div>
	        </div>
	        <div class="col-md-6 col-lg-3 ftco-animate">
	          <div class="block-2">
	            <div class="flipper">
	              <div class="front" style="background-image: url(https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/81/female-teacher-type-1-2_1f469-1f3fb-200d-1f3eb.png);">
	                <div class="box">
	                  <h2>Mrs.Arpita Majhi</h2>
	                  <p>Lecturer</p>
	                </div>
	              </div>

	            </div>
	          </div>
	        </div>
	        <div class="col-md-6 col-lg-3 ftco-animate">
	          <div class="block-2">
	            <div class="flipper">
	              <div class="front" style="background-image: url(https://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-11/256/man-office-worker-light-skin-tone.png);">
	                <div class="box">
	                  <h2>Mr.Sunil Kumar Mohapatra</h2>
	                  <p>Lecturer</p>
	                </div>
	              </div>

	            </div>
	          </div>
	        </div>
	        <div class="col-md-6 col-lg-3 ftco-animate">
	          <div class="block-2">
	            <div class="flipper">
	              <div class="front" style="background-image: url(https://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-11/256/man-office-worker-light-skin-tone.png);">
	                <div class="box">
	                  <h2>Mr.Manoranjan Panda</h2>
	                  <p>Lecturer</p>
	                </div>
	              </div>

	            </div>
	          </div>
	        </div>

	        <div class="col-md-6 col-lg-3 ftco-animate">
	          <div class="block-2">
	            <div class="flipper">
	              <div class="front" style="background-image: url(https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/81/female-teacher-type-1-2_1f469-1f3fb-200d-1f3eb.png);">
	                <div class="box">
	                  <h2>Mrs.Sanjukta Mohanty</h2>
	                  <p>Lecturer</p>
	                </div>
	              </div>

	            </div>
	          </div>
	        </div>
	        <div class="col-md-6 col-lg-3 ftco-animate">
	          <div class="block-2">
	            <div class="flipper">
	              <div class="front" style="background-image: url(https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/81/female-teacher-type-1-2_1f469-1f3fb-200d-1f3eb.png  );">
	                <div class="box">
	                  <h2>Mrs.Meenakshi Pant</h2>
	                  <p>Lecturer</p>
	                </div>
	              </div>

	            </div>
	          </div>
	        </div>
	        <div class="col-md-6 col-lg-3 ftco-animate">
	          <div class="block-2">
	            <div class="flipper">
	              <div class="front" style="background-image: url(https://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-11/256/man-office-worker-light-skin-tone.png);">
	                <div class="box">
	                  <h2>Mr.Santosh Kumar Maharana</h2>
	                  <p>Lecturer</p>
	                </div>
	              </div>

	            </div>
	          </div>
	        </div>
	        <div class="col-md-6 col-lg-3 ftco-animate">
	          <div class="block-2">
	            <div class="flipper">
	              <div class="front" style="background-image: url(https://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-11/256/man-office-worker-light-skin-tone.png);">
	                <div class="box">
	                  <h2>Mr.Asish Kumar Mishra</h2>
	                  <p>Lecturer</p>
	                </div>
	              </div>

	            </div>
	          </div>
	        </div>
        </div>

    	</div>
    </section>


    <footer class="ftco-footer ftco-bg-dark ftco-section img" style="background-image: url(images/bg_5.jpg);">
    	<div class="overlay"></div>

        <div class="row">
          <div class="col-md-12 text-center">

            <p>
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This site was made by <a href=""><a href="/smoke">Smokejumpers</a></a>
  </p>
          </div>
        </div>
      </div>
    </footer>



  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

  <!-- Modal -->
    <div class="modal fade" id="modalAppointment" tabindex="-1" role="dialog" aria-labelledby="modalAppointmentLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalAppointmentLabel">Appointment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="#">
              <div class="form-group">
                <label for="appointment_name" class="text-black">Full Name</label>
                <input type="text" class="form-control" id="appointment_name">
              </div>
              <div class="form-group">
                <label for="appointment_email" class="text-black">Email</label>
                <input type="text" class="form-control" id="appointment_email">
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="appointment_date" class="text-black">Date</label>
                    <input type="text" class="form-control" id="appointment_date">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="appointment_time" class="text-black">Time</label>
                    <input type="text" class="form-control" id="appointment_time">
                  </div>
                </div>
              </div>


              <div class="form-group">
                <label for="appointment_message" class="text-black">Message</label>
                <textarea name="" id="appointment_message" class="form-control" cols="30" rows="10"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="Send Message" class="btn btn-primary">
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>


  <script src="javascripts/jquery.min.js"></script>
  <script src="javascripts/jquery-migrate-3.0.1.min.js"></script>
  <script src="javascripts/popper.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
  <script src="javascripts/jquery.easing.1.3.js"></script>
  <script src="javascripts/jquery.waypoints.min.js"></script>
  <script src="javascripts/jquery.stellar.min.js"></script>
  <script src="javascripts/owl.carousel.min.js"></script>
  <script src="javascripts/jquery.magnific-popup.min.js"></script>
  <script src="javascripts/aos.js"></script>
  <script src="javascripts/jquery.animateNumber.min.js"></script>
  <script src="javascripts/bootstrap-datepicker.js"></script>
  <script src="javascripts/jquery.timepicker.min.js"></script>
  <script src="javascripts/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="javascripts/google-map.js"></script>
  <script src="javascripts/main.js"></script>

  </body>
</html>
