<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Remedic - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/animate.css">

    <link rel="stylesheet" href="stylesheets/owl.carousel.min.css">
    <link rel="stylesheet" href="stylesheets/owl.theme.default.min.css">
    <link rel="stylesheet" href="stylesheets/magnific-popup.css">

    <link rel="stylesheet" href="stylesheets/aos.css">

    <link rel="stylesheet" href="stylesheets/ionicons.min.css">

    <link rel="stylesheet" href="stylesheets/bootstrap-datepicker.css">
    <link rel="stylesheet" href="stylesheets/jquery.timepicker.css">


    <link rel="stylesheet" href="stylesheets/flaticon.css">
    <link rel="stylesheet" href="stylesheets/icomoon.css">
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>

  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/"><i class="fa fa-laptop" style="font-size:24px"></i><span>C</span>SE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
          <li class="nav-item"><a href="/notice" class="nav-link">Notice</a></li>
          <li class="nav-item active"><a href="/faculty" class="nav-link">Faculty</a></li>
          <li class="nav-item"><a href="/syllabus" class="nav-link">Syllabus</a></li>
          <li class="nav-item"><a href="/holidays" class="nav-link">Holidays</a></li>
          <li class="nav-item cta"><a href="/login" class="nav-link"><span>Admin Login</span></a></li>
        </ul>
      </div>
    </div>
  </nav>
    <!-- END nav -->



    <section class="ftco-section ftco-degree-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ftco-animate">
            <h2 class="mb-3">    PCS3I101 SWITCHING CIRCUITS & LOGIC DESIGN</h2>
            <p><b>Module 1 (12Hrs)</b></p>
<p>What is Artificial Intelligence? AI Technique, Level of the Model,Problem Spaces, and
Search: Defining the Problem as a State Space Search, Production Systems, Problem
Characteristics, Production System Characteristics, Issues in the Design of Search
Programs.Heuristic Search Techniques: Generate-and-Test, Hill Climbing, Best-first Search,
Problem Reduction, Constraint Satisfaction, Means-ends Analysis,Knowledge
Representation: Representations and Mappings, Approaches to Knowledge
Representation, Using Predicate Logic: Representing Simple Facts in Logic, Representing
Instance and ISA Relationships, Computable Functions and Predicates, Resolution, Natural
Deduction.Using Rules: Procedural Versus Declarative Knowledge, Logic Programming,
Forward Versus Backward Reasoning, Matching, Control Knowledge.Symbolic Reasoning
Under Uncertainty: Introduction to Nonmonotonic Reasoning, Logics for Nonmonotonic
Reasoning, Implementation Issues, Augmenting a Problem-solver, Depth-first Search,
Breadth-first Search.Weak and Strong Slot-and-Filler Structures: Semantic Nets, Frames,
Conceptual DependencyScripts, CYC.</p>
<p><b>Module 2( 10Hrs)</b></p>
<p><b>Game Playing:</b> The Minimax Search Procedure, Adding Alpha-beta Cutoffs, Iterative
Deepening.Planning: The Blocks World, Components of a Planning System, Goal Stack
Planning, Nonlinear Planning Using Constraint Posting, Hierarchical PlanningOther
Planning Techniques.Understanding: What is Understanding, What Makes Understanding
Hard?, Understanding as Constraint Satisfaction.Natural Language Processing:
Introduction, Syntactic Processing, Semantic Analysis, Discourse and Pragmatic Processing,
Statistical Natural Language Processing, Spell Checking.</p>
<p><b>Module 3 (8Hrs)</b></p>
<p><b>Learning:</b> Rote Learning, Learning by Taking Advice, Learning in Problem-solving, Learning
from Examples: Induction, Explanation-based Learning, Discovery, Analogy, Formal
Learning Theory, Neural Net Learning and Genetic Learning. Expert Systems: Representing
and Using Domain Knowledge, Expert System Shells, Explanation, Knowledge Acquisition.</p>
<p><b>Text Book:</b></p>
<p>1. Elaine Rich, Kevin Knight, & Shivashankar B Nair, Artificial Intelligence, McGraw Hill,
3rd ed.,2009</p>
<p><b>References:</b></p>
<p>1. Introduction to Artificial Intelligence & Expert Systems, Dan W Patterson, PHI.,2010</p>
<p>2. S Kaushik, Artificial Intelligence, Cengage Learning, 1st ed.2011</p>
  </div> <!-- .col-md-8 -->


  <footer class="ftco-footer ftco-bg-dark ftco-section img" style="background-image: url(images/bg_5.jpg);">
    <div class="overlay"></div>
    <!-- <div class="container">
      <div class="row mb-5">
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Remedic</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
              <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4 ml-md-5">
            <h2 class="ftco-heading-2">Information</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-2 d-block">Appointments</a></li>
              <li><a href="#" class="py-2 d-block">Our Specialties</a></li>
              <li><a href="#" class="py-2 d-block">Why Choose us</a></li>
              <li><a href="#" class="py-2 d-block">Our Services</a></li>
              <li><a href="#" class="py-2 d-block">health Tips</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
           <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Site Links</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-2 d-block">Home</a></li>
              <li><a href="#" class="py-2 d-block">About</a></li>
              <li><a href="#" class="py-2 d-block">Departments</a></li>
              <li><a href="#" class="py-2 d-block">facultys</a></li>
              <li><a href="#" class="py-2 d-block">Blog</a></li>
              <li><a href="#" class="py-2 d-block">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Have a Questions?</h2>
            <div class="block-23 mb-3">
              <ul>
                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="col-md-12 text-center">

          <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This site was made by <a href=""><a href="/smoke">Smokejumpers</a></a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
      </div>
    </div>
  </footer>



  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

  <!-- Modal -->
    <!-- <div class="modal fade" id="modalAppointment" tabindex="-1" role="dialog" aria-labelledby="modalAppointmentLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalAppointmentLabel">Appointment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="#">
              <div class="form-group">
                <label for="appointment_name" class="text-black">Full Name</label>
                <input type="text" class="form-control" id="appointment_name">
              </div>
              <div class="form-group">
                <label for="appointment_email" class="text-black">Email</label>
                <input type="text" class="form-control" id="appointment_email">
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="appointment_date" class="text-black">Date</label>
                    <input type="text" class="form-control" id="appointment_date">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="appointment_time" class="text-black">Time</label>
                    <input type="text" class="form-control" id="appointment_time">
                  </div>
                </div>
              </div>


              <div class="form-group">
                <label for="appointment_message" class="text-black">Message</label>
                <textarea name="" id="appointment_message" class="form-control" cols="30" rows="10"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="Send Message" class="btn btn-primary">
              </div>
            </form>
          </div>

        </div>
      </div> -->
    </div>


    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/jquery-migrate-3.0.1.min.js"></script>
    <script src="javascripts/popper.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/jquery.easing.1.3.js"></script>
    <script src="javascripts/jquery.waypoints.min.js"></script>
    <script src="javascripts/jquery.stellar.min.js"></script>
    <script src="javascripts/owl.carousel.min.js"></script>
    <script src="javascripts/jquery.magnific-popup.min.js"></script>
    <script src="javascripts/aos.js"></script>
    <script src="javascripts/jquery.animateNumber.min.js"></script>
    <script src="javascripts/bootstrap-datepicker.js"></script>
    <script src="javascripts/jquery.timepicker.min.js"></script>
    <script src="javascripts/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="javascripts/google-map.js"></script>
    <script src="javascripts/main.js"></script>

  </body>
</html>
