<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>signup</title>
  </head>
  <body>
    <% if(message.length > 0){ %>
    <div>
      <%= message %>
    </div>
    <% } %>
    <form method="POST" action="/verify">
    <label  for="title">username</label>
    <input type="text" name="username">
    <label  for="body">password</label>
    <input type="password" name="password">
    <button type="submit" class="submit">Submit</button>

  </form>
</body>
</html>
