<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Remedic - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/animate.css">

    <link rel="stylesheet" href="stylesheets/owl.carousel.min.css">
    <link rel="stylesheet" href="stylesheets/owl.theme.default.min.css">
    <link rel="stylesheet" href="stylesheets/magnific-popup.css">

    <link rel="stylesheet" href="stylesheets/aos.css">

    <link rel="stylesheet" href="stylesheets/ionicons.min.css">

    <link rel="stylesheet" href="stylesheets/bootstrap-datepicker.css">
    <link rel="stylesheet" href="stylesheets/jquery.timepicker.css">


    <link rel="stylesheet" href="stylesheets/flaticon.css">
    <link rel="stylesheet" href="stylesheets/icomoon.css">
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>

  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/index"><i class="fa fa-laptop" style="font-size:24px"></i><span>C</span>SE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <%- include('navbar') %>
    </div>
  </nav>
    <!-- END nav -->

    <div class="hero-wrap" style="background-image: url('http://www.webgranth.com/wp-content/uploads/2017/11/Colorful-Calendar-Wallpaper-2018.jpg'); background-attachment:fixed;">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-8 ftco-animate text-center">
            <!-- <p class="breadcrumbs"><span class="mr-2"><a href="/index">Home</a></span> <span>Blog</span></p> -->
            <h1 class="mb-3 bread">List of Holidays</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="table">
      <table>
  <tr >
    <th>Sl.</th>
    <th>Date</th>
    <th>Week Days</th>
    <th>Name of the Holidays</th>
    <th>No. of Days</th>
  </tr>
  <tr>
    <td>1.</td>
    <td>01.01.2018</td>
    <td>Monday</td>
    <td>New Year</td>
    <td>01</td>
  </tr>
  <tr>
    <td>2.</td>
    <td>21.02.2018</td>
    <td>Monday</td>
    <td>Saraswati Puja</td>
    <td>01</td>
  </tr>
  <tr>
    <td>3.</td>
    <td>23.01.2018</td>
    <td>Tuesday</td>
    <td>Netaji Jayanti</td>
    <td>01</td>
  </tr>
  <tr>
    <td>4.</td>
    <td>26.01.2018</td>
    <td>Friday</td>
    <td>Republic Day</td>
    <td>01</td>
  </tr>
  <tr>
    <td>5.</td>
    <td>14.02.2018</td>
    <td>Wednesday</td>
    <td>Maha Shivratri</td>
    <td>01</td>
  </tr>
  <tr>
    <td>6.</td>
    <td>01.03.2018</td>
    <td>Thursday</td>
    <td>Dola Purnima</td>
    <td>01</td>
  </tr>
  <tr>
    <td>7.</td>
    <td>02.03.2018</td>
    <td>Friday</td>
    <td>Holi</td>
    <td>01</td>
  </tr>
  <tr>
    <td>8.</td>
    <td>05.03.2018</td>
    <td>Monday</td>
    <td>Panchayatraj Divas</td>
    <td>01</td>
  </tr>
  <tr>
    <td>9.</td>
    <td>30.03.2018</td>
    <td>Friday</td>
    <td>Good Friday</td>
    <td>01</td>
  </tr>
  <tr>
    <td>10.</td>
    <td>14.06.2018</td>
    <td>Thursday</td>
    <td>Pahili Raja</td>
    <td>01</td>
  </tr>
  <tr>
    <td>11.</td>
    <td>15.06.2018</td>
    <td>Friday</td>
    <td>Raja Sankranti</td>
    <td>01</td>
  </tr>
  <tr>
    <td>12.</td>
    <td>16.06.2018</td>
    <td>Saturday</td>
    <td>Id-ul-Fitre</td>
    <td>01</td>
  </tr>
  <tr>
    <td>13.</td>
    <td>15.08.2018</td>
    <td>Wednesday</td>
    <td>Independence Day</td>
    <td>01</td>
  </tr>
  <tr>
    <td>14.</td>
    <td>22.08.2018</td>
    <td>Wednesday</td>
    <td>Id-ul-Juha</td>
    <td>01</td>
  </tr>
  <tr>
    <td>15.</td>
    <td>13.09.2018</td>
    <td>Thursday</td>
    <td>Ganesh Puja</td>
    <td>01</td>
  </tr>
  <tr>
    <td>16.</td>
    <td>14.09.2018</td>
    <td>Friday</td>
    <td>Nuakhai</td>
    <td>01</td>
  </tr>
  <tr>
    <td>17.</td>
    <td>21.09.2018</td>
    <td>Friday</td>
    <td>Moharam</td>
    <td>01</td>
  </tr>
  <tr>
    <td>18.</td>
    <td>02.10.2018</td>
    <td>Tuesday</td>
    <td>Gandhi Jayanti</td>
    <td>01</td>
  </tr>
  <tr>
    <td>19.</td>
    <td>08.10.2018</td>
    <td>Monday</td>
    <td>Mahalaya</td>
    <td>01</td>
  </tr>
  <tr>
    <td>20.</td>
    <td>15.06.2018-24.10.2018</td>
    <td>----</td>
    <td>Puja Holidays</td>
    <td>09</td>
  </tr>
  <tr>
    <td>21.</td>
    <td>07.11.2018</td>
    <td>Wednesday</td>
    <td>Diwali</td>
    <td>01</td>
  </tr>
  <tr>
    <td>22.</td>
    <td>21.11.2018</td>
    <td>Wednesday</td>
    <td>Mohammad Jayanti</td>
    <td>01</td>
  </tr>
  <tr>
    <td>23.</td>
    <td>23.11.2018</td>
    <td>Friday</td>
    <td>Rasa Purnima</td>
    <td>01</td>
  </tr>
  <tr>
    <td>24.</td>
    <td>30.11.2018</td>
    <td>Friday</td>
    <td>Prathamastami</td>
    <td>01</td>
  </tr>
  <tr>
    <td>25.</td>
    <td>25.12.2018</td>
    <td>Tuesday</td>
    <td>X-mass Day</td>
    <td>01</td>
  </tr>
</table>
    </div>

    <footer class="ftco-footer ftco-bg-dark ftco-section img" style="background-image: url(images/bg_5.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <!-- <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Remedic</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Information</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Appointments</a></li>
                <li><a href="#" class="py-2 d-block">Our Specialties</a></li>
                <li><a href="#" class="py-2 d-block">Why Choose us</a></li>
                <li><a href="#" class="py-2 d-block">Our Services</a></li>
                <li><a href="#" class="py-2 d-block">health Tips</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Site Links</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Home</a></li>
                <li><a href="#" class="py-2 d-block">About</a></li>
                <li><a href="#" class="py-2 d-block">Departments</a></li>
                <li><a href="#" class="py-2 d-block">facultys</a></li>
                <li><a href="#" class="py-2 d-block">Blog</a></li>
                <li><a href="#" class="py-2 d-block">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                  <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                  <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
                </ul>
              </div>
            </div>
          </div> -->
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This site was made by <a href=""><a href="team.html">Smokejumpers</a></a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>




  <script src="javascripts/jquery.min.js"></script>
  <script src="javascripts/jquery-migrate-3.0.1.min.js"></script>
  <script src="javascripts/popper.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
  <script src="javascripts/jquery.easing.1.3.js"></script>
  <script src="javascripts/jquery.waypoints.min.js"></script>
  <script src="javascripts/jquery.stellar.min.js"></script>
  <script src="javascripts/owl.carousel.min.js"></script>
  <script src="javascripts/jquery.magnific-popup.min.js"></script>
  <script src="javascripts/aos.js"></script>
  <script src="javascripts/jquery.animateNumber.min.js"></script>
  <script src="javascripts/bootstrap-datepicker.js"></script>
  <script src="javascripts/jquery.timepicker.min.js"></script>
  <script src="javascripts/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="javascripts/google-map.js"></script>
  <script src="javascripts/main.js"></script>

  </body>
</html>
