<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Notice</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="stylesheets/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/animate.css">

    <link rel="stylesheet" href="stylesheets/owl.carousel.min.css">
    <link rel="stylesheet" href="stylesheets/owl.theme.default.min.css">
    <link rel="stylesheet" href="stylesheets/magnific-popup.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/aos.css">

    <link rel="stylesheet" href="stylesheets/ionicons.min.css">

    <link rel="stylesheet" href="stylesheets/bootstrap-datepicker.css">
    <link rel="stylesheet" href="stylesheets/jquery.timepicker.css">


    <link rel="stylesheet" href="stylesheets/flaticon.css">
    <link rel="stylesheet" href="stylesheets/icomoon.css">
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>

    <div>
      <%- include('navbar') %>
    </div>

    <div class="hero-wrap" style="background-image: url('https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/143619/580/386/m1/fpnw/wm0/noticeboard-.jpg?1405440673&s=b94ab1e81bbfededb3ba8f9d7bec59ce'); background-attachment:fixed;">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-8 ftco-animate text-center">
            <p class="breadcrumbs"><span class="mr-2"><a href="/index">Home</a></span> <span>Notice Board</span></p>
            <h1 class="mb-3 bread">Notice Board</h1>
          </div>
        </div>
      </div>
    </div>


    <div id="noticeboard">
    <ul id="notices" class="notice">
      <h3>Notices</h3>
      <% for(var i=0; i<data.length; i++ ){ %>
      <li><span class="title"><%= data[i].title %> </span>
      <span class="body"><%= data[i].body %> </span>
      <span class="date"><%= data[i].date %> </span>
    </li>
      <% } %>
    </ul>
        </div>
    <footer class="ftco-footer ftco-bg-dark ftco-section img" style="background-image: url(images/bg_5.jpg);">
    	<div class="overlay"></div>
      <div class="container">
      </div>
      <div class="row">
        <div class="col-md-12 text-center">

          <p>
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This site was made by <a href=""><a href="/smoke">Smokejumpers</a></a>
</p>
        </div>
      </div>
    </div>
  </footer>

    <style>
    .notice
    {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      border: 2px solid #DDDDDD;
      border-radius: 25px;
      background-color: white;
      margin-left: 40px;
      padding-right: 30px;
      margin-bottom: 50px;

    }
    .notice :hover
    {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .notice li
    {
    cursor: pointer;
    position: relative;
    padding: 12px ;
    background: #eee;
    font-size: 20px;
    transition: 0.2s;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 20px 15px 30px 15px;
    margin-bottom: 30px;
    text-align: left;
    overflow-wrap: break-word;
    }
    .notice li:nth-child(odd)
    {
      background: #f9f9f9;
    }
    .notice li:hover
    {
      background: #ddd;
      cursor: pointer;
      transform: scale(1.002);
    }


    .notice
    {
      width: 1250px;
      height: 700px;
      position: relative;
      top: 35px;
      overflow: scroll;
    }

    #footer{
      height: 100px;
    }




    .title
    {
      position: absolute;
      top:5px;
      left: 5px;
    }
    .body{
      position: relative;
      right: 5px;
      top: 15px;
    }
    .date{
      position: absolute;
      bottom: 10px;
      left: 1000px;
      font-size: 10px;
    }

    </style>







  <script src="javascripts/jquery.min.js"></script>
  <script src="javascripts/jquery-migrate-3.0.1.min.js"></script>
  <script src="javascripts/popper.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
  <script src="javascripts/jquery.easing.1.3.js"></script>
  <script src="javascripts/jquery.waypoints.min.js"></script>
  <script src="javascripts/jquery.stellar.min.js"></script>
  <script src="javascripts/owl.carousel.min.js"></script>
  <script src="javascripts/jquery.magnific-popup.min.js"></script>
  <script src="javascripts/aos.js"></script>
  <script src="javascripts/jquery.animateNumber.min.js"></script>
  <script src="javascripts/bootstrap-datepicker.js"></script>
  <script src="javascripts/jquery.timepicker.min.js"></script>
  <script src="javascripts/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="javascripts/google-map.js"></script>
  <script src="javascripts/main.js"></script>

  </body>
</html>
