<html>
<head>
  <title>Team Members</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="stylesheets/open-iconic-bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/animate.css">

  <link rel="stylesheet" href="stylesheets/owl.carousel.min.css">
  <link rel="stylesheet" href="stylesheets/owl.theme.default.min.css">
  <link rel="stylesheet" href="stylesheets/magnific-popup.css">

  <link rel="stylesheet" href="stylesheets/aos.css">

  <link rel="stylesheet" href="stylesheets/ionicons.min.css">

  <link rel="stylesheet" href="stylesheets/bootstrap-datepicker.css">
  <link rel="stylesheet" href="stylesheets/jquery.timepicker.css">


  <link rel="stylesheet" href="stylesheets/flaticon.css">
  <link rel="stylesheet" href="stylesheets/icomoon.css">
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  <div>
    <%- include('navbar') %>
  </div>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2 class="mb-4"><b>Team Members</b></h2>
      </div>
    </div>
      <center>
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="block-2">
          <div class="flipper">
            <div class="front" style="background-image: url(https://scontent-maa2-1.xx.fbcdn.net/v/t1.0-9/30704749_1504427522987825_4678855901027762176_n.jpg?_nc_cat=109&oh=5b3903d6dd96be8bcb42a50dfdc0029a&oe=5C2DD88F);">
              <div class="box">
                <h2><b>Ankit Jena</b></h2>
                <p>Mentor</p>
              </div>
            </div>
            <div class="back">
            <div class="author d-flex">
              <div class="image mr-3 align-self-center">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</center>
    <br>

  </br>
  <div class="row">
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="block-2">
          <div class="flipper">
            <div class="front" style="background-image: url(https://scontent-maa2-1.xx.fbcdn.net/v/t1.0-9/22089468_1506194579474747_5657270281067454676_n.jpg?_nc_cat=111&oh=4ba5b5edcf98fd3e7c619d10e943716d&oe=5C1F6766);">
              <div class="box">
                <center>
               <h2><b>Abhijit Saha</b></h2>
                <p>Mentee</p>
              </center>
              </div>
            </div>
            <div class="back">
              <div class="author d-flex">
                <div class="image mr-3 align-self-center">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="block-2">
          <div class="flipper">
            <div class="front" style="background-image: url(https://scontent-maa2-1.xx.fbcdn.net/v/t1.0-9/23755287_1376756915784095_4859149337084532274_n.jpg?_nc_cat=107&oh=44ac0cc338a4e330185464d87bb9d1ef&oe=5C23B5C2);">
              <div class="box">
                <center>
                <h2><b>Binayak Behera</b></h2>
                <p>Mentee</p>
              </center>
              </div>
            </div>
            <div class="back">
              <div class="author d-flex">
                <div class="image mr-3 align-self-center">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="block-2">
          <div class="flipper">
            <div class="front" style="background-image: url(https://scontent-maa2-1.xx.fbcdn.net/v/t1.0-9/34849148_1621411084624763_3165282711220781056_n.jpg?_nc_cat=102&oh=1b4093ff959de09c3f07ac57a92ed904&oe=5C185E6F);">
              <div class="box">
                <center>
                <h2><b>Mahes Dwivedi</b></h2>
                <p>Mentee</p>
              </center>
              </div>
            </div>
            <div class="back">
              <div class="author d-flex">
                <div class="image mr-3 align-self-center">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="block-2">
          <div class="flipper">
            <div class="front" style="background-image: url(https://scontent-maa2-1.xx.fbcdn.net/v/t1.0-9/14183888_1085788771503655_8807749172886103490_n.jpg?_nc_cat=106&oh=d5590183dfbeb0202c0c4ae6cbf329f6&oe=5C1ECCB9);">
              <div class="box">
                <center>
                 <h2><b>Sarthak Rout</b></h2>
                <p>Mentee</p>
              </center>
              </div>
            </div>
            <div class="back">
              <div class="author d-flex">
                <div class="image mr-3 align-self-center">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/jquery-migrate-3.0.1.min.js"></script>
<script src="javascripts/popper.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/jquery.easing.1.3.js"></script>
<script src="javascripts/jquery.waypoints.min.js"></script>
<script src="javascripts/jquery.stellar.min.js"></script>
<script src="javascripts/owl.carousel.min.js"></script>
<script src="javascripts/jquery.magnific-popup.min.js"></script>
<script src="javascripts/aos.js"></script>
<script src="javascripts/jquery.animateNumber.min.js"></script>
<script src="javascripts/bootstrap-datepicker.js"></script>
<script src="javascripts/jquery.timepicker.min.js"></script>
<script src="javascripts/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="javascripts/google-map.js"></script>
<script src="javascripts/main.js"></script>
<body>
</html>
